@charset "uft-8";

/*　タイトル部分　ここから　*/

#title {
    margin: 0 auto;
    width: 800px;
    height: 120px;
    background-color: #000000;
    padding-left: 15px;
    font-size: 100px;
    color: #ffffff;
}

/* タイトル部分　ここまで  */